
<div class="header ">  <!-- div which contains nav and first section -->
 <div class="header-black-back "> <!-- div for black background -->

     <div class="container">
      <!-- navbar -->
       <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
         <!-- nav brand-->
           <a class="navbar-brand" href="#"><img src="../../assets/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Service</a>
            </li>
            <li class="nav-item active ">
                <a class="nav-link" href="#">Travel Agency </a>
              </li>
              <li class="nav-item  active">
                <a class="nav-link" href="#">Countact Us </a>
              </li>
              <li class="nav-item  active">
                <a class="nav-link" href="#"><i class="fas fa-search"></i> </a>
              </li>
              <li class="nav-item  active">
                <a class="nav-link" href="#"><i class="far fa-user"></i></a>
              </li>
              <li class="nav-item active ">
                <a class="nav-link" href="#"><i class="far fa-heart"></i> </a>
              </li>

          </ul>
        </div>
      </nav>

      <div class="header-desc">
          <h1>Amazing</h1>
          <h2>Santorini 10 Days Tour</h2>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as</p>
          <button type="button" class="btn btn-outline-secondary">BOOK NOW</button>
      </div>
      </div>
 </div>
</div>

