/* Styles for header window */
.header
{
  height: 625px;
  width: 100%;
 background-image: url(../../assets/images/header.jpg);
 background-size: 100% 100%;
 background-repeat: no-repeat;
}
.header-black-back
{
    height: 625px;
    width: 100% 100%;
    background-color:rgba(0,0,0,0.47);
}
.navbar-brand
{
    margin-right: 10%;
}
.nav-link
{
   font-size: 20px;
   margin: 10px;
}
.header-desc
{
    height: 450px;
    width: 97%;
    margin-top: 60px;
}
.header-desc h1
{
   color: #bd8cbf;
   font-size: 90px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 0;
}
.header-desc h2
{
    color: white;
    font-size: 85px;
    font-weight: 400;
    font-family: sans-serif;
}
.header-desc p
{
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: sans-serif;
}
.header-desc button
{
    height: 50px;
    width: 16%;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    margin-left: 40%;
    margin-top: 2%;
    border-color: white;
}
.header-desc button:hover
{
    background-color: #bd8cbf;
}